[submodule "lib/JUCE"]
	path = lib/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "lib/clap-juce-extensions"]
	path = lib/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions
